{% extends 'ComicBundle::layout.html.twig' %}

{% block title %}
    Usuarios
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-flag-o red"></i><strong>Usuarios Registrados</strong></h2>
                <div class="panel-actions">
                    <a href="#" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered bootstrap-datatable countries">
                    <thead>
                        <tr>
                            <th>#id</th>
                            <th>Nombre y Apellido</th>
                            <th>Apodo</th>
                            <th>Direccion</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bruce Wayne</td>
                            <td>Batman</td>
                            <td>Gotham</td>
                            <td><i class="icon_check_alt2" style="color: green"></i></td>
                            <td>
                                <a class="icon_search" href="#" title="Ver" rel="tooltip" data-original-title="Ver"></a>&nbsp;
                                <a class="icon_tools" href="#" title="Editar" rel="tooltip" data-original-title="Editar"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <a class="btn btn-success" href="#" title="Crear Nuevo Usuario" rel="tooltip" data-original-title="Nuevo Usuario"><span class="icon_profile"></span>Crear Nuevo Usuario</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
