{% extends 'ComicBundle::layout.html.twig' %}

{% block title %}
    Creando Nuevo Usuario
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="icon_plus_alt2"></i><strong> Nuevo Usuario</strong></h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                {{ form_start(form) }}

                    <div class="row">
                        <div class="form-group">
                                {{ form_label(form.username) }}
                            <div class="col-lg-6">
                                {{ form_widget(form.username) }}
                            </div>
                            {{ form_errors(form.username) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                                {{ form_label(form.email) }}
                            <div class="col-lg-6">
                                {{ form_widget(form.email) }}
                            </div>
                            {{ form_errors(form.email) }}
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            {{ form_row(form.save) }}
                            {{ form_rest(form) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
