{% extends 'ComicBundle::layout.html.twig' %}
{% block title %}
    Modificar cómic
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="icon_plus_alt2"></i><strong> Modificar cómic</strong></h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                {{ form_start(edit_form) }}
                    <div class="row">
                        <div class="form-group">
                            {{ form_widget(edit_form.name) }}
                            <div class="col-lg-6">
                                {{ form_label(edit_form.name) }}                                
                            </div>
                            {{ form_errors(edit_form.name) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                                {{ form_widget(edit_form.authorscript) }}
                            <div class="col-lg-6">
                                {{ form_label(edit_form.authorscript) }}
                            </div>
                            {{ form_errors(edit_form.authorscript) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                                {{ form_widget(edit_form.authordraw) }}
                            <div class="col-lg-6">
                                {{ form_label(edit_form.authordraw) }}
                            </div>
                            {{ form_errors(edit_form.authordraw) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                                {{ form_widget(edit_form.price) }}
                            <div class="col-lg-6">
                                {{ form_label(edit_form.price) }}
                            </div>
                            {{ form_errors(edit_form.price) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                                {{ form_widget(edit_form.cover) }}
                            <div class="col-lg-6">
                                {{ form_label(edit_form.cover) }}
                            </div>
                            {{ form_errors(edit_form.cover) }}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <a class="btn btn-success" href="{{ path('comics_index') }}" title="Crear Nuevo comic" rel="tooltip" data-original-title="Nuevo Comic"><span class="icon_profile"></span>Volver al listado</a>
                            <input type="submit" value="Modificar Cómic" />
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}

