{% extends 'ComicBundle::layout.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Autor guión</th>
                <th>Dibujante</th>
                <th>Precio</th>
                <th>Portada</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comic in comics %}
            <tr>
                <td><a href="{{ path('comics_show', { 'id': comic.id }) }}">{{ comic.id }}</a></td>
                <td>{{ comic.name }}</td>
                <td>{{ comic.authorscript }}</td>
                <td>{{ comic.authordraw }}</td>
                <td>{{ comic.price }}</td>
                <td>{{ comic.cover }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comics_show', { 'id': comic.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comics_edit', { 'id': comic.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comics_new') }}">Ingresar nuevo comic</a>
        </li>
    </ul>
{% endblock %}

{% block title %}
    Cómics
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-flag-o red"></i><strong> Cómics en stock</strong></h2>
                    <div class="panel-actions">
                        <a href="{{ path('comics_index') }}" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered bootstrap-datatable countries">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Autor guión</th>
                                <th>Dibujante</th>
                                <th>Precio</th>
                                <th>Portada</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comic in comics %}
                                <tr>
                                    <td><a href="{{ path('comics_show', { 'id': comic.id }) }}">{{ comic.id }}</a></td>
                                    <td>{{ comic.name }}</td>
                                    <td>{{ comic.authorscript }}</td>
                                    <td>{{ comic.authordraw }}</td>
                                    <td>{{ comic.price }}</td>
                                    <td>{{ comic.cover }}</td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('comics_show', { 'id': comic.id }) }}">show</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('comics_edit', { 'id': comic.id }) }}">edit</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-success" href="{{ path('comics_new') }}" title="Crear Nuevo comic" rel="tooltip" data-original-title="Nuevo Comic"><span class="icon_profile"></span>Ingresar nuevo cómic</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}