{% extends 'ComicBundle::layout.html.twig' %}
{% block title %}
    Agregar nuevo cómic
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="icon_plus_alt2"></i><strong> Ingresar nuevo cómic</strong></h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="form-group">
                            {{ form_widget(form.name) }}
                            <div class="col-lg-6">
                                {{ form_label(form.name) }}                                
                            </div>
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                                {{ form_widget(form.authorscript) }}
                            <div class="col-lg-6">
                                {{ form_label(form.authorscript) }}
                            </div>
                            {{ form_errors(form.authorscript) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                                {{ form_widget(form.authordraw) }}
                            <div class="col-lg-6">
                                {{ form_label(form.authordraw) }}
                            </div>
                            {{ form_errors(form.authordraw) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                                {{ form_widget(form.price) }}
                            <div class="col-lg-6">
                                {{ form_label(form.price) }}
                            </div>
                            {{ form_errors(form.price) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                                {{ form_widget(form.cover) }}
                            <div class="col-lg-6">
                                {{ form_label(form.cover) }}
                            </div>
                            {{ form_errors(form.cover) }}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <a class="btn btn-success" href="{{ path('comics_index') }}" title="Crear Nuevo comic" rel="tooltip" data-original-title="Nuevo Comic"><span class="icon_profile"></span>Volver al listado</a>
                            <a class="btn btn-success" title="Crear Nuevo comic" rel="tooltip" data-original-title="Nuevo Comic"><span class="icon_profile"></span><input type="submit" value="Agregar Cómic" /></a>
                            
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
