{% extends 'ComicBundle::layout.html.twig' %}
{% block title %}
    Detalle cómic
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="icon_plus_alt2"></i><strong> Detalle cómic</strong></h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                </table>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Nombre cómic</p>
                            </div>
                            <div class="col-lg-6">
                                {{ comic.name }}                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Guión</p>
                            </div>
                            <div class="col-lg-6">
                                {{ comic.authorscript }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Dibujante</p>
                            </div>
                            <div class="col-lg-6">
                                {{ comic.authordraw }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Precio</p>
                            </div>
                            <div class="col-lg-6">
                                {{ comic.price }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Portada</p>
                            </div>
                            <div class="col-lg-6">
                                {{ comic.cover }}
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <a class="btn btn-success" href="{{ path('comics_index') }}" title="Crear Nuevo comic" rel="tooltip" data-original-title="Nuevo Comic"><span class="icon_profile"></span>Volver al listado</a>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
{% endblock %}