<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
        <meta name="author" content="GeeksLabs">
        <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
        <link rel="shortcut icon" href="img/favicon.png">

        <title>Creative - Bootstrap Admin Template</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
        <!-- bootstrap theme -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-theme.css') }}">
        <!--external css-->
        <!-- font icon -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/elegant-icons-style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome.css') }}">
        <!-- full calendar css-->
        <link rel="stylesheet" href="{{ asset('bundles/app/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/assets/fullcalendar/fullcalendar/fullcalendar.css') }}">
        <!-- easy pie chart-->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/app/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css') }}">
        <!-- owl carousel -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery-jvectormap-1.2.2.css') }}">
        <!-- Custom styles -->
    	<link rel="stylesheet" href="{{ asset('bundles/app/css/fullcalendar.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/widgets.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style-responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/xcharts.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/jquery-ui-1.10.4.min.css') }}">

    {% block stylesheets %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
    </head>

    <body>
        <!-- container section start -->
        <section id="container" class="">
            <header class="header dark-bg">
                <div class="toggle-nav">
                    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
                </div>
                <!--logo start-->
                <a href="index.html" class="logo">Welcome to <span class="lite">Admin Crud Comixzone</span></a>
                <!--logo end-->
                <div class="top-nav notification-row">
                    <!-- notificatoin dropdown start-->
                    <ul class="nav pull-right top-menu">
                        <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="profile-ava">
                                    <img alt="" src="{{ asset('bundles/app/img/avatar1_small.jpg') }}">
                                </span>
                                <span class="username">Jenifer Smith</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                                <li class="eborder-top">
                                    <a href="#"><i class="icon_profile"></i> My Profile</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon_clock_alt"></i> Timeline</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon_chat_alt"></i> Chats</a>
                                </li>
                                <li>
                                    <a href="login.html"><i class="icon_key_alt"></i> Log Out</a>
                                </li>
                                <li>
                                    <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                                </li>
                                <li>
                                    <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                                </li>
                            </ul>
                        </li>
                        <!-- user login dropdown end -->
                    </ul>
                    <!-- notificatoin dropdown end-->
                </div>
            </header>
            <!--header end-->
            <!--sidebar start-->
            <aside>
                <div id="sidebar"  class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a class="" href="{{ path('admin_user') }}">
                                <i class="icon_group"></i>
                                <span>Usuarios</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="" href="{{ path('comics_index') }}">
                                <i class="icon_group"></i>
                                <span>Cómics</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_document_alt"></i>
                                <span>Forms</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="form_component.html">Form Elements</a></li>
                                <li><a class="" href="form_validation.html">Form Validation</a></li>
                            </ul>
                        </li>
                    </ul><!-- sidebar menu end-->
                </div>
            </aside><!--sidebar end-->
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    <!--overview start-->
        			<div class="row">
        			    <div class="col-lg-12">
        				    <h3 class="page-header"><i class="fa fa-laptop"></i> {% block title %}{% endblock %}</h3>
        				</div>
        			</div>

                    {% block page %}{% endblock %}
                </section>
            </section>
        <!--main content end-->
        </section>
        <!-- container section start -->

        <!-- javascripts -->
        <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery-ui-1.10.4.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
    	<!-- bootstrap -->
        <script src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>
        <!-- nice scroll -->
        <script src="{{ asset('bundles/app/js/jquery.scrollTo.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.nicescroll.js') }}"></script>
        <!-- charts scripts -->
        <script src="{{ asset('bundles/app/assets/jquery-knob/js/jquery.knob.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.sparkline.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js') }}"></script>
        <script src="{{ asset('bundles/app/js/owl.carousel.js') }}"></script>
        <!-- jQuery full calendar -->
        <script src="{{ asset('bundles/app/js/fullcalendar.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/fullcalendar/fullcalendar/fullcalendar.js') }}"></script>
        <!--script for this page only-->
        <script src="{{ asset('bundles/app/js/calendar-custom.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery.rateit.min.js') }}"></script>
        <!-- custom select -->
        <script src="{{ asset('bundles/app/js/jquery.customSelect.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/chart-master/Chart.js') }}"></script>
        <!--custome script for all page-->
        <script src="{{ asset('bundles/app/js/scripts.js') }}"></script>
        <!-- custom script for this page-->
        <script src="{{ asset('bundles/app/js/sparkline-chart.js') }}"></script>
        <script src="{{ asset('bundles/app/js/easy-pie-chart.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery-jvectormap-1.2.2.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery-jvectormap-world-mill-en.js') }}"></script>
        <script src="{{ asset('bundles/app/js/xcharts.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery.autosize.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery.placeholder.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/gdp-data.js') }}"></script>
        <script src="{{ asset('bundles/app/js/morris.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/sparklines.js') }}"></script>
        <script src="{{ asset('bundles/app/js/charts.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery.slimscroll.min.js') }}"></script>

        <script>
            //knob
            $(function() {
                $(".knob").knob({
                    'draw' : function () {
                        $(this.i).val(this.cv + '%')
                    }
                })
            });

            //carousel
            $(document).ready(function() {
                $("#owl-slider").owlCarousel({
                    navigation : true,
                    slideSpeed : 300,
                    paginationSpeed : 400,
                    singleItem : true
                });
            });

            //custom select box
            $(function(){
                $('select.styled').customSelect();
            });

        	/* ---------- Map ---------- */
        	$(function(){
                $('#map').vectorMap({
                    map: 'world_mill_en',
                    series: {
                        regions: [{
                            values: gdpData,
                            scale: ['#000', '#000'],
                            normalizeFunction: 'polynomial'
                        }]
                    },
                    backgroundColor: '#eef3f7',
                    onLabelShow: function(e, el, code){
                        el.html(el.html()+' (GDP - '+gdpData[code]+')');
                    }
                });
        	});
        </script>

        {% block javascript %}{% endblock %}

    </body>
</html>
